$colorBlue: rgb(12, 115, 254);
$bgUserBtn: rgba(255, 255, 255, 1);
$paddingButton: 0.5em;
$letterSpasingMain: 0.1em;
$bgUserBtnHover: rgb(232, 231, 229);
$transitionBtn: 0.25s linear;
$colorWhite: rgb(250, 248, 248);
$colorBgPopup: rgb(251, 245, 245);
$colorSubmitBtn: #ff6f32;
$colorSubmitBtnHover: #ff521f;
$colorSubmitBtnActive:rgba(250,87,18,0.6);